.Premiera {
    background: #101010;
    width: 200px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 5px;
    gap: 12px;
}

.Premiera-Text {
    color: #fefefe;
    text-align: center;
    font-size: 25px;
}

.Creator {
    font-size: 17.5px;
    color: red;
    text-align: center;
}